@(id1:Int, id2:Int, id3:Int, id4:Int, reg1:String, reg2:String, reg3:String, reg4:String, name1:String, name2:String, name3:String, name4:String)
<html>
<head>
    <title>Home</title>
    <style>
            table, th, td {
                border : 2px solid black;
                border-collapse: collapse;
            }
        </style>
</head>
<body>
<table border="1" cellpadding="8">
    <tr>
        <th>Index</th>
        <th>RegNo</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@id1</td>
        <td>@reg1</td>
        <td>@name1</td>
    </tr>
    <tr>
        <td>@id2</td>
        <td>@reg2</td>
        <td>@name2</td>
    </tr>
    <tr>
        <td>@id3</td>
        <td>@reg3</td>
        <td>@name3</td>
    </tr>
    <tr>
        <td>@id4</td>
        <td>@reg4</td>
        <td>@name4</td>
    </tr>
</table>
</body>
</html>